<!DOCTYPE html>
<html lang="en">
@@include('./include/head.html')
<body>
@@include('./include/header.html')
<div class="content">
    <h3>CSS3 transforms</h3>
    <ul>
        <li>rotate</li>
        <li>translate</li>
        <li>scale</li>
        <li>skew</li>
    </ul>

    <div class="box rotate">box</div>
    <div class="box translateLeft">box right</div>
    <div class="box translateRight">box left</div>
    <div class="box scale">box scaled</div>
    <div class="box skew">box skewed</div>

</div>
@@include('./include/footer.html')
</body>
</html>