<!DOCTYPE html>
<html lang="en">
@@include('./include/head.html')
<body>
@@include('./include/header.html')
<div class="content">
    <ul>
        <li>Вложенность</li>
        <li>Импорты</li>
        <li>Переменные</li>
        <li>Наследование</li>
        <li>Математические операторы</li>
    </ul>


    <form action="">
        <a class="btn" href="/">btn</a>
        <a class="btn-transparent" href="/">btn</a>
        <a class="btn-primary" href="/">btn</a>
        <input type="text">
    </form>





    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="button">
        click me
    </div>
    <div class="button-medium">
        click me big
    </div>
</div>
@@include('./include/footer.html')
</body>
</html>